body {
    background-image: url("saree2.jpg");
   background-size: cover;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   text-align: center;
   font-size: large;
   color: rgb(196, 17, 17);
   }
   
   h1{
       margin-top: 10px;
       margin-bottom: 10px;
   font-style: italic;
   }
   
   h2{
   font-size: 50px;
       margin-top: 0px;
       margin-bottom: 10px;
   }
   
   button{
       background-color: red;
       color: rgb(255, 255, 255);
       border: none;
       border-radius: 5px;
       padding: 10px;
       font-size: 20px;
       margin-top: 10px;
       margin-bottom: 10px;
         
   }
   
   p{
       
       color: rgb(255, 255, 255);
       border: none;
       border-radius: 5px;
       padding: 5px;
       font-size: 20px;
       margin-top: 10px;
       margin-bottom: 10px;
       border-left-width: 0ex;
   }
   
   
   span{
       background-color: rgb(53, 17, 196);
       color: rgb(255, 255, 255);
       border: none;
       border-radius: 5px;
       padding: 5px;
       font-size: 20px;
       margin-top: 10px;
       margin-bottom: 10px;
       border-left-width: 0ex;
   }
   
   
   
   img {
       max-width: 40%;
       height: 400px;
       image-orientation: flip;
       
     }
   
     h6{
       font-size: 10px;
       margin-top: 0px;
       margin-bottom: 0px;
       background-color: blue;
       color: white;
     }

     h5{
            background-color: cornsilk;
         font-size: 50px;
         margin-top: 0px;
         margin-bottom: 10px;
         text-align: left;
         padding-left: 10px;
         font-style: italic;
            
        
         

     }
     div{
            
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 5px;
            padding: 10px;
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
            left: 50%;
     }